/SrcCode/packages
/SrcCode/DocsAPI/bin
/SrcCode/Tester/DocsAPITestConsumer/bin
/SrcCode/DataFramework/DocsAPI.Entities/bin
/SrcCode/DataFramework/DocsAPI.DAL/bin
/SrcCode/DocsAPI/obj
/SrcCode/DataFramework/DocsAPI.Entities/obj
/SrcCode/DataFramework/DocsAPI.DAL/obj
/SrcCode/Tester/DocsAPITestConsumer/obj
/SrcCode/.vs
/SrcCode/Common/PUCIT.AIMRL.Common/bin
/SrcCode/Common/PUCIT.AIMRL.Common/obj
/SrcCode/Common/PUCIT.AIMRL.Common.Logger/bin
/SrcCode/Common/PUCIT.AIMRL.Common.Logger/obj
