@{
    ViewBag.Title = "Home Page";
}

<a href="#" id="lnkGET1">Get 1 Request</a> <br />
<a href="#" id="lnkGET2">Get 2 Request</a> <br />
<a href="#" id="lnkPost">Post Request</a> <br/>

<a href="#" id="lnkUploadFiles">Upload Files</a> <br />
<a href="#" id="lnkDownload1">Download Test (without authorization)</a> <br />

<a href="#" id="lnkDownload2">Download Test (with authorization)</a> <br />


<br />
Displaying image directly from API
<img src="http://localhost:60239/Docs/Download1/3b79170c-48b2-4ea5-bcb1-0cef9049e65f" width="300px" height="300px"/>

<form>
    <input type="file" id="file-upload" multiple="multiple" name="files" value="" class="file-upload" style="display:none">
</form>

@section scripts{

    <script type="text/javascript">
        var apiBasePath = 'http://localhost:60239/';

        $(document).ready(function () {

            var token = '@ViewBag.Token';
            if (!token) {
                alert('invalid token');
                return false;
            }
            else {
                sessionStorage.setItem('accessToken', token);
            }

            $("#lnkGET1").click(function () {

                var settings = {
                    type: "GET",
                    dataType: "json",
                    url: apiBasePath + "Docs/GetData1",
                    data: {},
                    success: function (result) {
                        alert(result);
                    }
                };

                $.ajax(settings);

                return false;
            });

            $("#lnkGET2").click(function () {

                var settings = {
                    type: "GET",
                    dataType: "json",
                    headers: {
                        'Authorization': 'Bearer ' + sessionStorage.getItem('accessToken')
                    },
                    url: apiBasePath + "Docs/GetData2?a=10&b=20",
                    data: {},
                    success: function (result) {
                        alert(result);
                    }
                };

                $.ajax(settings);

                return false;
            });

            $("#lnkPost").click(function () {

                var dataToSend = { id: 1, name: "abc" };

                var settings = {
                    type: "POST",
                    dataType: "json",
                    headers: {
                        'Authorization': 'Bearer ' + sessionStorage.getItem('accessToken')
                    },
                    url: apiBasePath + "Docs/Save",
                    data: dataToSend,
                    success: function (result) {
                        alert(result);
                    }
                };

                $.ajax(settings);
                return false;
            });

            $("#lnkUploadFiles").click(function () {
                $('#file-upload').trigger('click');

                /*----------Reset file input control by going to the form-----------*/
                $('#file-upload').closest("form").get(0).reset();
                return false;
            });

            $('#file-upload').change(function (e) {

                var files = e.target.files;
                for (var i = 0; i < files.length; i++) {
                    var fileName = files[i].name;
                    //var fileSize = files[i].size;

                    var ext = fileName.split('.').pop().toLowerCase();
                    //check if extension is from mentioned list
                    if ($.inArray(ext, ['pdf','jpg']) == -1) {
                        alert('Invalid extension!')
                        return false;
                    }
                }
                UploadDocuments(files);
            }); //end of change


            //We are making GET hit without providing any access token
            $("#lnkDownload1").click(function () {
                //Here id of file will come from your DB 
                var url = apiBasePath + "Docs/Download1/3b79170c-48b2-4ea5-bcb1-0cef9049e65f";
                window.open(url);
                return false;
            });

            //Here we are making POST request with access token. 
            //We 'should' get a different unique ID (one time primarly) and pass that to un-authorized function to get file

            $("#lnkDownload2").click(function () {
                var dataToSend = { };
                var settings = {
                    type: "POST",
                    dataType: "json",
                    headers: {
                        'Authorization': 'Bearer ' + sessionStorage.getItem('accessToken')
                    },
                    url: apiBasePath + "Docs/Download?id=3b79170c-48b2-4ea5-bcb1-0cef9049e65f",
                    data: dataToSend,
                    success: function (result) {
                        console.log(result.data);
                        var url = apiBasePath + "Docs/Download1/" + result.data.UniqueID;
                        window.open(url);
                    }
                };

                $.ajax(settings);
                return false;
                return false;
            });
        });


        function UploadDocuments(attachments) {

            var data = new FormData();
            /*
            You may send multiple files here.
            Just add your files in following way with unique names
            For example
            data.append("file1", attach1);
            data.append("file2", attach2);

            */
            for (var i = 0; i < attachments.length; i++) {
                data.append("file" + i, attachments[i]);
            }
            
            data.append("anyotherdata", 0);

            var urltocall = apiBasePath + "Docs/Upload";

            var defObj = $.ajax({
                type: "POST",
                url: urltocall,
                headers: {
                    'Authorization': 'Bearer ' + sessionStorage.getItem('accessToken')
                },
                data: data,
                contentType: false,
                processData: false,
                success: function (resp) {
                    console.log(resp);
                },
                error: function (err, type, httpStatus) {

                },
                complete: function () {
                    $('#divProgressOverlay').hide();
                    $('#divProgressStatus').hide();
                }
            });
        }//UploadDocument
    </script>
}